html, body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #dfdfdf;
    margin: 0;
    padding: 0;
}


header {
    font-family: 'Courier New', Courier, monospace;
    background-color: #c53939;
    margin: 0;
    padding: 0;  
}

h1 {
    margin: 0;
}